<ul class="nav_elements main_nav">
	<li><a href="#">Home</a></li>
	<li><a href="#">Planning</a></li>
	<li><a href="#">Activities</a></li>
	<li><a href="#">Clients</a></li>
	<li><a href="#">Suppliers</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
	<li><a href="#">Help</a></li>
</ul>